@use 'variaveis';
@use 'reset';
@use 'section';
@use 'header';
@use 'responsivo';

body {
    background-color: variaveis.$background-color;
}

li {
    list-style: none;
}

.container {
    max-width: variaveis.$container-max-width;
    width: 100%;
    margin: 0 auto;
}



